# requirements.txt

pyinstaller
discord.py>=2.3.0
PyNaCl
zstandard
customtkinter
python-dotenv
yt-dlp>=2023.12.30
spotipy
spotifyscraper[all]
cachetools
requests
playwright
lyricsgenius
syncedlyrics
psutil
pystray
Pillow
packaging
opencv-python